<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
  <?if $(var.Platform) = x64 ?>
  <?define bitness = "(64 bit)" ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
  <?define bitness = "(32 bit)" ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>

  <Product Id="*" Name="FnSync" Language="1033" Version="0.8.7.0" Manufacturer="holmium" UpgradeCode="9AD7C0B9-C690-4CF2-BBB6-093D68C50100" >
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <Feature Id="ProductFeature" Title="WixInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="FnSync" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="C7A6C885-EB0F-406E-9351-90CCE2092D00">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="FnSync" Description="FnSync" Target="[INSTALLFOLDER]FnSync.exe" WorkingDirectory="INSTALLFOLDER">

          <!--AUMID-->
          <!--<ShortcutProperty Key="System.AppUserModel.ID" Value="holmium.FnSync.A7F49234CADC422229142EDC7D8932E"/>-->

          <!--COM CLSID, specifying which CLSID to activate when toast clicked-->
          <!--<ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{8C025F15-F051-427B-AF16-9F43DB9ED3EA}"/>-->

        </Shortcut>

        <RemoveFile Id="RemoveApplicationShortcut" Directory="ProgramMenuFolder" Name="Desktop Toasts" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\FnSync" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="ApplicationShortcut"/>

      <Component Id="AdonisUI.ClassicTheme.dll">
        <File Source="$(var.FnSync.TargetDir)\AdonisUI.ClassicTheme.dll" />
      </Component>
      <Component Id="AdonisUI.dll">
        <File Source="$(var.FnSync.TargetDir)\AdonisUI.dll" />
      </Component>
      <Component Id="BouncyCastle.Crypto.dll">
        <File Source="$(var.FnSync.TargetDir)\BouncyCastle.Crypto.dll" />
      </Component>
      <Component Id="FnSync.dll">
        <File Source="$(var.FnSync.TargetDir)\FnSync.dll" />
      </Component>
      <Component Id="FnSync.exe">
        <File Source="$(var.FnSync.TargetDir)\FnSync.exe">
          <fire:FirewallException Id="FnSync_TCP"
                          Name="FnSync_TCP"
                          Protocol="tcp"
                          Scope="any"
                          IgnoreFailure="yes"
                          Profile="all" />
          <fire:FirewallException Id="FnSync_UDP"
                          Name="FnSync_UDP"
                          Protocol="udp"
                          Scope="any"
                          IgnoreFailure="yes"
                          Profile="all" />
        </File>
      </Component>
      <Component Id="FnSync.deps.json">
        <File Source="$(var.FnSync.TargetDir)\FnSync.deps.json" />
      </Component>
      <Component Id="FnSync.runtimeconfig.json">
        <File Source="$(var.FnSync.TargetDir)\FnSync.runtimeconfig.json" />
      </Component>
      <Component Id="Hardcodet.NotifyIcon.Wpf.dll">
        <File Source="$(var.FnSync.TargetDir)\Hardcodet.NotifyIcon.Wpf.dll" />
      </Component>
      <Component Id="Microsoft.Toolkit.Uwp.Notifications.dll">
        <File Source="$(var.FnSync.TargetDir)\Microsoft.Toolkit.Uwp.Notifications.dll" />
      </Component>
      <Component Id="Microsoft.Windows.SDK.NET.dll">
        <File Source="$(var.FnSync.TargetDir)\Microsoft.Windows.SDK.NET.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Source="$(var.FnSync.TargetDir)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="NHotkey.dll">
        <File Source="$(var.FnSync.TargetDir)\NHotkey.dll" />
      </Component>
      <Component Id="NHotkey.Wpf.dll">
        <File Source="$(var.FnSync.TargetDir)\NHotkey.Wpf.dll" />
      </Component>
      <Component Id="Ookii.Dialogs.Wpf.dll">
        <File Source="$(var.FnSync.TargetDir)\Ookii.Dialogs.Wpf.dll" />
      </Component>
      <Component Id="QRCoder.dll">
        <File Source="$(var.FnSync.TargetDir)\QRCoder.dll" />
      </Component>
      <Component Id="System.Threading.Tasks.Dataflow.dll">
        <File Source="$(var.FnSync.TargetDir)\System.Threading.Tasks.Dataflow.dll" />
      </Component>
      <Component Id="WinRT.Runtime.dll">
        <File Source="$(var.FnSync.TargetDir)\WinRT.Runtime.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
